<div class="col-md-12">
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Employee List</h3>
      <div class="pull-right">
        <a routerLink="/addemployee"> Add Employee</a>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <table class="table table-bordered">
        <tr>
          <th style="width: 10px">#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Company Name</th>
          <th>Salary</th>
          <th>Address</th>
        </tr>

        <tr *ngFor="let e of employees">
          <td>{{e.id}}</td>
          <td>{{e.name}}</td>
          <td>{{e.email}}</td>
          <td>{{e.companyname}}</td>
          <td>{{e.salary}}</td>
          <td>{{e.address}}</td>

        </tr>

      </table>
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      <ul class="pagination pagination-sm no-margin pull-right">
        <li>
          <a href="#">&laquo;</a>
        </li>
        <li>
          <a href="#">1</a>
        </li>
        <li>
          <a href="#">2</a>
        </li>
        <li>
          <a href="#">3</a>
        </li>
        <li>
          <a href="#">&raquo;</a>
        </li>
      </ul>
    </div>
  </div>
  <!-- /.box -->


</div>
<!-- /.col -->